@{
    ViewBag.Title = "Index";
}

<h2>Admin Area - Home Controller - Index view</h2>

<ul>
    <li>
        @Html.ActionLink("Hello World - Index", "Index", new { controller = "HelloWorld", area = "HelloWorldPlugin" }, null)
    </li>
    <li>
        @Html.ActionLink("MainApp Home", "Index", new { controller = "Home", area = "" }, null)
    </li>
</ul>
