@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello world from Hello World Plugin</h2>

<ul>
    <li>
        @Html.ActionLink("Page 2", "Page2", new { controller = "HelloWorld", area = "HelloWorldPlugin", action="Page2" }, null)
    </li>
</ul>
